@using ITISystem.Models;
@model Dept_Crs_Instr
@{
    ViewBag.Title = "AssignInstructor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AssignInstructor</h2>
@using (Html.BeginForm("AssignInstructor", "Course", FormMethod.Post, "novalidate"))
{
<div class="col-lg-12">
    @Html.LabelFor(a => a.Department_key, "Department", new { @class = "form-group" })
    @Html.DropDownListFor(a => a.Department_key, ViewBag.dpts as SelectList, new { @class = "btn btn-success" })
</div>
    <br /><br /><br /><br />


<div class="col-lg-12">
    @Html.LabelFor(a => a.Course_key, "Course", new { @class = "form-group" })
    @Html.DropDownListFor(a => a.Course_key, ViewBag.course as SelectList, new { @class = "btn btn-primary" })
</div>
<br /><br /><br /><br />
<div class="col-lg-12">
    @Html.LabelFor(a => a.Instructor_key, "Instructor", new { @class = "form-group" })
    @Html.DropDownListFor(a => a.Instructor_key, ViewBag.inst as SelectList, new { @class = "btn btn-danger" })
</div>
<br /><br /><br /><br />
<div class="form-group">
    <div class="col-lg-12">
    <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
</div>

}
<div class="form-group">
    <div class="col-md-12">
        @Html.ActionLink("Back To List", "index", null, new { @class = "btn btn-success" })
    </div>
</div>

