@model ITISystem.Models.Course

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Are you sure you want to delete</h1>
<br /><br /><br /><br /><br />
    
   <dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Name)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Name)
        @if (ViewData["message"] != null)
        {
            @Html.Label("you can't delete this course", new { @class = " text-danger" });
        }
       
    </dd>
       
    <dt>
        @Html.DisplayNameFor(model => model.Lec_Duration)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Lec_Duration)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Lab_Duration)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Lab_Duration)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Status)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Status)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Duration)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Duration)
    </dd>

   
    
    <dt>
    </dt>

</dl>


@using (Ajax.BeginForm("DeleteCourse", "Course", new AjaxOptions()
{
    UpdateTargetId = "div1",
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "Post",
    OnSuccess = "myfun3()"

}))
{
    @Html.HiddenFor(a => a.Course_Id)

 
    <div class="form-group">
        <div class="col-md-offest">
            <input type="submit" value="Delete" class="btn btn-primary" />
            @Html.ActionLink("Back to List", "Index",null,new { @class="btn btn-danger"})


        </div>
    </div>
}

    


    



