@model IEnumerable<ITISystem.Models.Course>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>

</head>
<body>
    <div id="div1">
        <br />
        <br />
        <br />
        <table class="table table-bordered table-hover table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lec_Duration)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lab_Duration)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Duration)
                </th>
                <th>
                    OPerations
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lec_Duration)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lab_Duration)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Duration)
                    </td>
                    <td>
                        @Ajax.ActionLink("Edit", "EditCourse", "Course", new { Id = item.Course_Id }, new AjaxOptions()
                   {
                       UpdateTargetId = "div2",
                       InsertionMode = InsertionMode.Replace,
                       HttpMethod = "Get",
                       OnSuccess = "myfun2()"
                   }, new { @class = "btn btn-danger" })
                        |
                        @Ajax.ActionLink("Delete", "DeleteCourse", "Course", new { Id = item.Course_Id }, new AjaxOptions()
                   {
                       UpdateTargetId = "DeleteAjaxDiv",
                       InsertionMode = InsertionMode.Replace,
                       HttpMethod = "Get",


                       OnSuccess = "myfun3()"
                   }, new { @class = "btn btn-success", Onclick = "DeleteModal()" }
                      )

                        @*@Ajax.ActionLink("Delete","DeleteCourse", "Course", new { Id = item.Course_Id })*@


                    </td>
                </tr>
            }
        </table>
        @*<div>
                @Html.ActionLink("AddCourse", "Addcourse")
            </div>*@
        <div class="form-group">
            <div class="col-md-12">
                @Html.ActionLink("AddCourse", "Addcourse", null, new { @class = "btn btn-success" })
                @Html.ActionLink("AddCourseToDepartment", "crs_dept", null, new { @class = "btn btn-primary" })
                @Html.ActionLink("DeleteCourseFromDepartment", "del_crs_dept", null, new { @class = "btn btn-danger" })
                @Html.ActionLink("AddCourseToInstructor", "crs_ins", null, new { @class = "btn btn-primary" })
                @Html.ActionLink("DeleteCourseFromIns", "del_crs_ins", null, new { @class = "btn btn-danger" })




            </div>
        </div>
    </div>


    <div id="div2" class="modal">

    </div>
    <div id="DeleteAjaxDiv" class="modal">


    </div>

    <!-- Modal Delete -->
    @*<div class="modal fade" id="DeleteModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete Student</h4>
                </div>
                <div class="modal-body">
                    <div id="DeleteAjaxDiv" class="text-center">
                        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>*@
</body>
</html>


@section scripts{ 
    <script>

        function myfun2() {
            $("#div2").modal("toggle");
        }
        //function myfun3() {
        //    $("#div3").modal("toggle");
        //}

        function myfun3() {
            $("#DeleteAjaxDiv").modal("toggle");
            

        };
    </script>


}
