@using ITISystem.Models;
@model Std_Crs_Instr
@{
    ViewBag.Title = "instr_eval";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Label("Course Evaluation", new { @class = "form-control text-danger bg-primary" })
</div>
<div>
    @Html.Label("The Content Of The Course")
    <input id="slider" class="sliderCrs" type="text" data-slider-handle="custom" />
</div>
<div>
    @Html.Label("The Content Of The Course")
    <input id="slider1" class="sliderCrs" type="text" data-slider-handle="custom" />
</div>
<div>
    @Html.Label("The Content Of The Course")
    <input id="slider2" class="sliderCrs" type="text" data-slider-handle="custom" />
</div>
<div>
    @Html.Label("Avarge Evaluation")
</div>
<div>
    @Html.DropDownListFor(a => a.Instructor_key, ViewBag.inst as SelectList, new { @class = "btn btn-primary" })
 @*  @Html.Label(@TempData["instr_name"].ToString())*@
</div>
@*************************************************************************@
<div>
    @Html.Label("Instructor Lecture Evaluation", new { @class = "form-control text-danger bg-primary" })
</div>
<div>
    @Html.Label("The Content Of The Course")
    <input id="slider" class="sliderLec" type="text" data-slider-handle="custom" />
</div>
<div>
    @Html.Label("The Content Of The Course")
    <input id="slider1" class="sliderLec" type="text" data-slider-handle="custom" />
</div>
<div>
    @Html.Label("The Content Of The Course")
    <input id="slider2" class="sliderLec" type="text" data-slider-handle="custom" />
</div>
<div>
    @Html.Label("Avarge Evaluation")
</div>
@******************************************************************************@
<div>
    @Html.Label("Instructor Lab Evaluation", new { @class = "form-control text-danger bg-primary" })
</div>
<div>
    @Html.Label("The Content Of The Course")
    <input id="slider" class="sliderLab" type="text" data-slider-handle="custom" />
</div>
<div>
    @Html.Label("The Content Of The Course")
    <input id="slider1" class="sliderLab" type="text" data-slider-handle="custom" />
</div>
<div>
    @Html.Label("The Content Of The Course")
    <input id="slider2" class="sliderLab" type="text" data-slider-handle="custom" />
</div>
<div>
    @Html.Label("Avarge Evaluation")
</div>


<div>
   @* <input type="submit" value="Finish" class="btn btn-success" />*@
    <div>
        @Html.ActionLink("Finish", "Index", "Student")
    </div>
</div>


