@using ITISystem.Models;
@model Student
@*@model IEnumerable<ITISystem.Models.Student>*@
@{
    ViewBag.Title = "Mange_NoDepts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Manage Departments</h2>
        @using (Html.BeginForm("Mange_NoDepts", "Student", FormMethod.Post, "novalidate"))
        {
            <div class="col-lg-12">
                @Html.LabelFor(a => a.Department_Key, "Department_Id", new { @class = "form-group" })
            </div>
            <div class="col-lg-12">
                @Html.DropDownListFor(a => a.Department_Key, ViewBag.dpts as SelectList, new { @class = "btn btn-default" })
              </div>
            <div>
                @Html.Label("Student With No Department ")
            </div>
            <div>
              @*  @Html.ListBoxFor(a => a.FirstName, (SelectList)ViewData["stds"], new { @class = "btn btn-default" })*@
                @Html.DropDownListFor(a => a.Student_Id, ViewBag.stds as SelectList, "select Student",new { @class = "btn btn-default" })          
             </div>
             <div>
                 @Html.Label("Enroll Student To Department")
             </div>
            <div>
             @*  <input type="checkbox" id="chk" name="chk"/>*@
                @Html.CheckBox("chk")
            </div>
            <div>
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        }


