<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap-slider.css" rel="stylesheet" />
    <style>
        .slider-handle.custom::before {
            line-height: 20px;
            font-size: 20px;
            content: '\2605';
            color: #ffd800;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse ">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/jquery.validate.min.js");
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js");
    @Scripts.Render("~/Scripts/bootstrap-slider.js");
    <script>
        $(".slider").slider({ step: 1, min: 1, max: 5 });     
        //$(".slider").each(function () {
        //    sum += parseInt(this.value)
        //});
        var s = 0;
        $(".slider").change(function () {
            var sum = 0;
            $("input[class *= 'slider']").each(function () {
                sum += +$(this).val();
            });
            s = sum;
        console.log(s)
        })
        //////////////////////////////////////////////
        $(".sliderCrs").slider({ step: 1, min: 1, max: 5 });
        //$(".slider").each(function () {
        //    sum += parseInt(this.value)
        //});
        var sCrs = 0;
        $(".sliderCrs").change(function () {
            var sumCrs = 0;
            $("input[class *= 'sliderCrs']").each(function () {
                sumCrs += +$(this).val();
            });
            sCrs = sumCrs;
            console.log("sCrs = "+sCrs)
        })
        /////////////////////////////////
        $(".sliderLec").slider({ step: 1, min: 1, max: 5 });
        //$(".slider").each(function () {
        //    sum += parseInt(this.value)
        //});
        var sLec = 0;
        $(".sliderLec").change(function () {
            var sumLec = 0;
            $("input[class *= 'sliderLec']").each(function () {
                sumLec += +$(this).val();
            });
            sLec = sumLec;
            console.log("sLec = " + sLec)
        })
        ////////////////////////////////////////
        $(".sliderLab").slider({ step: 1, min: 1, max: 5 });
        //$(".slider").each(function () {
        //    sum += parseInt(this.value)
        //});
        var sLab = 0;
        $(".sliderLab").change(function () {
            var sumLab = 0;
            $("input[class *= 'sliderLab']").each(function () {
                sumLab += +$(this).val();
            });
            sLab = sumLab;
            console.log("sLab = "+sLab)
        })

    </script>
    @Scripts.Render("~/Scripts/jquery.validate.min.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")

    @RenderSection("scripts", required: false)
</body>
</html>
