@model ITISystem.Models.Department

<div class="modal-content">
    <div class="modal-header">
        <h4>Department</h4>
    </div>
    <hr />
    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.instructor_mang.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.instructor_mang.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Capacity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Capacity)
            </dd>

        </dl>
    </div>
    <div class="modal-footer">
        <p>
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>
