@model ITISystem.Models.Instructor
@{
    //ViewBag.Title = "createInstructor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="col-lg-offset-4">New Instructor</h2>
<form method="post" action="createInstructor" novalidate="novalidate" class="form-horizontal col-md-offset-1">

    @Html.ValidationSummary(true, "Enter All Required Info")
    <div class="form-group">

        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })


    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BirthDate)
        @Html.TextBoxFor(model => model.BirthDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
        @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })


    </div>

    <div class="form-group">

        @Html.LabelFor(model => model.Degree)
        @Html.TextBoxFor(model => model.Degree, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Degree, "", new { @class = "text-danger" })


    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Graduation_Year)
        @Html.TextBoxFor(model => model.Graduation_Year, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Graduation_Year, "", new { @class = "text-danger" })


    </div>



    <div class="form-group">
        @Html.LabelFor(model => model.Work_Status)
        @*@Html.EditorFor(model => model.Work_Status, new { htmlAttributes = new { @class = "form-control col-lg-offset-2" } })*@
        @Html.EnumDropDownListFor(model => model.Work_Status, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Work_Status, "", new { @class = "text-danger" })


    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Department_Key, "Department")
        @Html.DropDownListFor(a => a.Department_Key, ViewBag.dpts as SelectList, new { @class = "btn btn-primary" })

    </div>

    <br />
    <br />

    <div class="col-lg-offset-4 ">
        <input type="submit" value="Create" class="btn btn-success" />
    </div>

   




</form>
@Html.ActionLink("Back to list", "getAll")

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}




