@model ITISystem.Models.Instructor
@{
    //ViewBag.Title = "createInstructor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
</head>
<body>

    <br />
    <br />

    <br />
    
    @Html.ActionLink("Back to list", "getAll")
    <h2 class="col-lg-offset-4">New Instructor</h2>

    <br />
    <br />

   <form method="post" action="createInstructor" novalidate="novalidate">


        <div class="form-group">


            @Html.DisplayNameFor(model => model.Name)
            @Html.EditorFor(model => model.Name,new { htmlAttributes = new { @class = "form-control col-lg-offset-2" } })
            @Html.ValidationMessageFor(model => model.Name,"",new { @class="text-danger"})


        </div>
      
           <div class="form-group">
               @Html.DisplayNameFor(model => model.BirthDate)
               @Html.EditorFor(model => model.BirthDate, new { htmlAttributes = new { @class = "form-control col-lg-offset-2" } })
               @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })


           </div>

           <div class="form-group">

               @Html.DisplayNameFor(model => model.Degree)
               @Html.EditorFor(model => model.Degree, new { htmlAttributes = new { @class = "form-control col-lg-offset-2" } })
               @Html.ValidationMessageFor(model => model.Degree, "", new { @class = "text-danger" })


           </div>

           <div class="form-group">
               @Html.DisplayNameFor(model => model.Graduation_Year)
               @Html.EditorFor(model => model.Graduation_Year, new { htmlAttributes = new { @class = "form-control col-lg-offset-2" } })
               @Html.ValidationMessageFor(model => model.Graduation_Year, "", new { @class = "text-danger" })


           </div>



           <div class="form-group">
               @Html.DisplayNameFor(model => model.Work_Status)
               @Html.EditorFor(model => model.Work_Status, new { htmlAttributes = new { @class = "form-control col-lg-offset-2" } })
               @Html.ValidationMessageFor(model => model.Work_Status, "", new { @class = "text-danger" })


           </div>
           <div class="form-group">
               @Html.LabelFor(model => model.Department_Key,"Department")
               @Html.DropDownListFor(a => a.Department_Key, ViewBag.dpts as SelectList, new { @class = "btn btn-primary col-lg-offset-2" })

             


           </div>

       <br/>
       <br />

           <div class="col-lg-offset-6 btn btn-success">
               <input type="submit" value="Create"/>
               


           </div>



</form>
</body>
</html>






