@model ITISystem.Models.Question
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Body</h2>
<ul>
    <li>Header: @Model.Header</li>
    <li>Grade: @Model.Grade</li>
    <li>Answer A: @Model.Answer_A</li>
    <li>Answer B: @Model.Answer_B</li>
    <li>Answer C: @Model.Answer_C</li>
    <li>Answer D: @Model.Answer_D</li>
    <li>Model Answer: @Model.Answer_A</li>
    <li>Course: @Model.Courses.Name</li>
</ul>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Question_id }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Back to List", "Index")
</p>